$color-primary: #02aeee;
$color-primary-light:#7bcff5;
$color-primary-dark: #0070b5;

$color-secondary: #fcae27;
$color-secondary-light: #fcf276;
$color-secondary-dark: #f98517;

$color-dark-1: #172444;
$color-dark-2: #1D2E54;
$color-dark-3: #22345E;

$color-light-1: #F7F7F7;
$color-light-2: #D8E5F1;
$color-light-3: #A2B0C7;

$color-gray-a: #aaa;
$color-gray-b: #bbb;
$color-gray-c: #ccc;
$color-gray-d: #ddd;
$color-gray-e: #eee;
$color-gray-ef: #eff;

$color-text-success: #009273;
$color-bg_success: #9cf2e7;
$color-border-success: #38E9D8;

$color-text-info: #004085;
$color-bg_info: #cce5ff;
$color-border-info: #b8daff; 

$color-text-danger: #721c24;
$color-bg_danger: #f8d7da;
$color-border-danger: #f5c6cb;

$color-text-warning: #856404;
$color-bg_warning: #fff3cd;
$color-border-warning: #ffeeba;

$color-fp: #283593;
$color-dt: #c4001d;
$color-ds: #ffab00;
$color-ju: #725b53;
$color-gn: #00bfa5;
$color-ob: #9c27b0;

$font-primary: "Roboto Condensed";
$font-secondary: "Lato";

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;